<!DOCTYPE html>
<html>
<head>
  <title>WEB322 A3</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <%- include('partials/header') %>
  <%- include('partials/navbar') %>

  <main>
    <%- body %>
  </main>

  <%- include('partials/footer') %>

</body>
</html>
